<!DOCTYPE html>
<html>
    <head>
        <title>You win !</title>
    </head>
<style>
     @import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Nunito+Sans&display=swap');

        html, body {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
        }
        body {
            background: url('https://cdn.discordapp.com/attachments/1040266084550463498/1052906555399479316/hangman-background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        #top{
            display: flex;
            justify-content: center;
            padding: 30px 0px;
        }
        .top-title{
            font-family: 'Bowlby One Sc';
            color: rgb(33, 173, 73);
            border-radius: 15px;
            padding: 5px;
            margin: 0;
        }
        #center{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
        }
        .life{
            margin: 0px 10px 0px 0px;
            font-weight: bold;
            font-size: 20px;
            width: auto;
        }
        .word-to-find{
            margin: 0px 0px 8px 0px;
            font-weight: bold;
            font-size: 20px;
        }
        .word-tested{
            margin: 0;
            font-weight: bold;
         
            font-size: 20px;
        }
        button{
            font-size: 24px;
            padding: 10px 40px;
            color: white;
            border: 10px ridge rgba(161, 217, 222, 0.6);
            font-family: 'Bowlby One Sc';
            text-decoration: none;
            transition: all .5s;
        }
        button:hover{
            opacity: 0.6;
        }
        button:active {
            box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
        }
        .b1{
            background-color: rgb(33, 173, 73);
        }
        .divtop{
            margin-top: 15px;
        }
        span{
            color: rgb(33, 173, 73);
        }
        .back-menu{
            margin-top: 50px;
        }
</style>
<body>
    <div id="top">
        <h1 class="top-title"><span>Félicitations</span>, vous avez gagné !</h1>
    </div>

    <div id="center">
        <div class="life divtop">
            <p class="life">
                &#128151 {{.Hp}}
            </p>
        </div>
        <div class="final-word divtop">
            <p class="word-to-find">Le mot était : {{.Word}}</p>
        </div>
        <div class="tested-letters divtop">
            <p class="word-tested">
                Lettres testées : {{.Wordtested}}
                </p>
        </div>
        <div class="back-menu divtop">
            <form action="/win" method="POST">
            <button class="b1" name="restart" value="restart">Recommencer une partie</button>
            </form>
        </div>
    </div>
</body>
</html>